<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon routerLink="frontpage">home</mat-icon>
</button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon routerLink="home">dashboard</mat-icon>
    </button>
    <h1> PET CARE MANAGEMENT<mat-icon style="margin-left: 10px;" (click)="bark()">pets</mat-icon> </h1>
    <span class="example-spacer"></span>
    <button>
      <mat-icon routerLink="about" matTooltip="view all pets">
                  perm_media</mat-icon>
    </button>
  </mat-toolbar>
<router-outlet></router-outlet>

    
  
