
<h1 mat-dialog-title>Add Your Review</h1>
<div mat-dialog-content>Share your thoughts and experience with us...</div>
<br>
<mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
    <mat-label style="color: burlywood;">Leave a comment</mat-label>
    <textarea required matInput placeholder="Your comment here..."></textarea>
  </mat-form-field>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="reply()" style="margin-right: 10px;margin-left: 10px; width: 60px;">Submit</button>
    <button mat-button mat-dialog-close style="width: 60px;">Close</button>

</div>